# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Jupyter Notebook
.ipynb_checkpoints

# Virtual Environment
venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Dataset (optional, if you don't want to push it)
# Tweets.csv

# IDEs
.vscode/
.idea/
